<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sales Tracker </title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div id="navbar" class="collapse navbar-collapse cl-effect-1 navbar-right">
       
        <ul class="nav navbar-nav editNav">
            <li>@Html.ActionLink("Home","Index","Tracker")</li>
            <li>@Html.ActionLink("Trace", "Index", "Tracker")</li>
            <li>@Html.ActionLink("BuyerEntry", "BuyerEntry", "Tracker")</li>
            <li>@Html.ActionLink("AddProduct", "AddProduct", "Tracker")</li>
            <li>@Html.ActionLink("AddSource", "AddSource", "Tracker")</li>
            <li>@Html.ActionLink("Addwebsite", "Addwebsite", "Tracker")</li>
            <li>@Html.ActionLink("AddMedium", "AddMedium", "Tracker")</li>
            
        </ul>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sales Tracker</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>